/UI/dist
/UI/tmp
/UI/out-tsc
/UI/node_modules
/UI/npm-debug.log

/Backend/dist
/Backend/tmp
/Backend/out-tsc
/Backend/node_modules
/Backend/npm-debug.log

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
npm-debug.log
.DS_Store
Thumbs.db