<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


<div class="container" style="border: black solid 2px;">
    <div class="row">
        <div class="col-md-6"><h1>To Do List</h1></div>
        <div class="col-md-4"><a  style="color: black;margin-right: 2px;text-decoration: none;" [routerLink]="'/login'">Logout</a><fa-icon [icon]="['fas','sign-out-alt']"></fa-icon>  </div>
    </div>
    <div class="row">
        
    </div>
    <div class="row" style="margin: 5px;">
        <div class="col-md-12" >
            <input style="border: black solid 2px;" type="text" id="name" placeholder="Enter item To Do" [(ngModel)]="todos" /><span><button class=" btn btn-success add" (click)="add(todos)"  ><fa-icon style="color: black;" [icon]="['fas','plus']"></fa-icon> </button></span>
        </div>
      
    </div>
    
    <div class="row">
        <div *ngFor="let i of todolist" class="col-md-12"  style="margin-bottom: 5px;">
            <fa-icon style="color: purple;margin-right: 2px;" [icon]="['fas','star']"></fa-icon><span style="background-color: yellowgreen;padding: 6px;border-radius: 4px;">{{i}}</span>
            <span><button class="add btn btn-danger" (click)="remove(i)"  ><fa-icon style="color: black;" [icon]="['fas','minus']"></fa-icon></button></span>
        
        </div>
       
    </div>
   
     
</div>







